<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<section class="admin-profile">
    <div class="container-fluid">
        <div class="row">
            <div class="profile-menu-left">
                <div class="prfile-nav-list" id="user_tab_menu_container">
                    <div class="prfile-widget">
                        <div class="prfile-widget-photo">
                            <img src="{{imgURL}}">
                        </div>
                        <h4>{{name}}</h4>
                    </div>
                    <ul class="profile-nav-option">
                        <li class="active"><a><i class="fa fa-user" aria-hidden="true"></i>
                        My Profile</a></li>
                        <li><a routerLink="/favorite-space"><i class="fa fa-heart" aria-hidden="true"></i>Favorites</a></li>
                        <li><a routerLink="/my-reservations"><i class="fa fa-book" aria-hidden="true"></i>My Reservations</a></li>
                        <li><a (click)='logout()'><i class="fa fa-power-off" aria-hidden="true"></i>Log Out</a></li>
                    </ul>
                </div>
            </div>
            <div class="profile-containe">
                <div class="dashboard-header">
                    <h1 class="entry-title-profile">MY PROFILE</h1>
                </div>
                <div class="user_dashboard_panel">
                    <div class="col-md-12">
                        <form name="sentMessage" #myprofile="ngForm" id="profileForm" method="post" (ngSubmit)="
                        myprofile.form.valid && profileForm(myprofile)">
                            <h4 class="user_dashboard_panel_title">Your details</h4>
                            <div class="col-md-9">
                                <div class="site-form">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <span>First Name</span>
                                            <input type="text" (keypress)="omit_special_char($event)"  required="true" [(ngModel)]="firstname"  name="firstname" #profiname="ngModel">
                                            <div *ngIf="myprofile.submitted && profiname.invalid" class="invalid-feedback text-danger">
                                                <div *ngIf="profiname.errors.required">First Name is required</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <span>Last Name</span>
                                            <input type="text" (keypress)="omit_special_char($event)" required="true" [(ngModel)]="lastname" name="lastname" #proltname="ngModel">
                                            <div *ngIf="myprofile.submitted && proltname.invalid" class="invalid-feedback text-danger">
                                                <div *ngIf="proltname.errors.required">Last Name is required</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <span>Email</span>
                                            <input type="text" readonly="true" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" >
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <span>Phone</span>
                                            <input type="text" required="true" [(ngModel)]="mobile_no" name="mobile_no" #prophone="ngModel">
                                            <div *ngIf="myprofile.submitted && prophone.invalid" class="invalid-feedback text-danger">
                                                <div *ngIf="prophone.errors.required">Number is required</div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <input type="submit" required="true" class="btn btn-primary btn-shop" name="form_submit" value="Update Profile">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="default-user-pic">
                                    <img id="profile-image" src="{{imgURL}}" alt="thumb" data-smallprofileurl="">
                                    <div class="admin-profle-brawse">
                                        <div class="file btn"> Upload
                                            <input #file type="file" accept='image/*' (change)="preview(file.files,$event.target.files)" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12">
                        <div class="user_dashboard_panel">
                            <h4 class="user_dashboard_panel_title">Change Password</h4>

                            <div class="col-md-12" id="profile_pass">
                                *After you change the password you will have to login again. </div>

                            <form #myform="ngForm" (ngSubmit)="myform.form.valid && resetPassword(myform)">
                                <div class="col-md-4">
                                    <p>
                                        <label for="old_password">Old Password</label>
                                        <input id="old_password" #old_password1="ngModel" required [ngModel]="old_password" value="" class="" name="old_password" type="password">
                                    </p>
                                    <div *ngIf="myform.submitted && old_password1.invalid" class="invalid-feedback text-danger">
                                        <div *ngIf="old_password1.errors.required">Old Password</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <p>
                                        <label for="password">New Password </label>
                                        <input id="password" value="" #newpass="ngModel" minlength="6" required [ngModel]="password" class="" name="password" type="password" minlength="6">
                                    </p>
                                    <div *ngIf="myform.submitted && newpass.invalid" class="invalid-feedback text-danger">
                                        <div *ngIf="newpass.errors.required">New Password</div>
                                        <div *ngIf="newpass.errors.minlength">Password must be at least 6 characters</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <p>
                                        <label for="password_confirmation">Confirm New Password</label>
                                        <input id="password_confirmation" #newConpass="ngModel" minlength="6" value="" class="" name="password_confirmation" required [ngModel]="password_confirmation" type="password" minlength="6">
                                    </p>
                                    <div *ngIf="myform.submitted && newConpass.invalid" class="invalid-feedback text-danger" >
                                        <div *ngIf="newConpass.errors.required">Confirm New Password</div>
                                        <div *ngIf="newConpass.errors.minlength">Confirm Password must be at least 6 characters</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-8 text-danger" *ngIf="conpass">password and confirm password not match!</div>
                                </div>
                                <input type="hidden" id="security-pass" name="security-pass" value="1c1483f950">
                                <input type="hidden" name="_wp_http_referer" value="/my-profile/">
                                <p class="fullp-button">
                                    <input type="submit" required="true" class="btn btn-primary btn-shop" name="form_submit" value="Reset Password">
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
