/*
 * metismenu - v2.7.0
 * A jQuery menu plugin
 * https://github.com/onokumus/metismenu#readme
 *
 * Made by Osman Nuri Okumus <onokumus@gmail.com> (https://github.com/onokumus)
 * Under MIT License
 */
.metismenu .arrow {float: right;line-height: 1.42857;}
*[dir="rtl"] .metismenu .arrow {float: left;}
/*
 * Require Bootstrap 3.x
 * https://github.com/twbs/bootstrap
*/
.metismenu .glyphicon.arrow:before {content: "\e079";}
.metismenu .active > a > .glyphicon.arrow:before {content: "\e114";}
/*
 * Require Font-Awesome
 * http://fortawesome.github.io/Font-Awesome/
*/
.metismenu .fa.arrow:before {content: "\f104";}
.metismenu .active > a > .fa.arrow:before {content: "\f107";}
/*
 * Require Ionicons
 * http://ionicons.com/
*/
.metismenu .ion.arrow:before {content: "\f3d2"}
.metismenu .active > a > .ion.arrow:before {content: "\f3d0";}
.metismenu .plus-times {float: right;}
*[dir="rtl"] .metismenu .plus-times {float: left;}
.metismenu .fa.plus-times:before {content: "\f067";}
.metismenu .active > a > .fa.plus-times {-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);}
.metismenu .plus-minus {float: right;}
*[dir="rtl"] .metismenu .plus-minus {float: left;}
.metismenu .fa.plus-minus:before {content: "\f067";}
.metismenu .active > a > .fa.plus-minus:before {content: "\f068";}
.metismenu .collapse {display: none;}
.metismenu .collapse.in {display: block;}
.metismenu .collapsing {position: relative;height: 0;overflow: hidden;-webkit-transition-timing-function: ease;-o-transition-timing-function: ease;transition-timing-function: ease;	-webkit-transition-duration: .35s;-o-transition-duration: .35s;transition-duration: .35s;-webkit-transition-property: height, visibility;-o-transition-property: height, visibility;	transition-property: height, visibility;}
.metismenu .has-arrow {position: relative;}
.metismenu .has-arrow::after {display: block;position: absolute;top: 13px;right: 24px;font-family: 'Advent Pro', sans-serif;font-weight:600; cursor: pointer;font-size: 16px;line-height: 16px;font-weight: 400;	-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;content: ">";color: #0b0c0e;-webkit-transition: all .2s ease-out;-moz-transition: all .2s ease-out;-o-transition: all .2s ease-out;-ms-transition: all .2s ease-out;transition: all .2s ease-out;}
*[dir="rtl"] .metismenu .has-arrow::after {right: auto;left: 1em;-webkit-transform: rotate(135deg) translate(0, -50%);-ms-transform: rotate(135deg) translate(0, -50%);-o-transform: rotate(135deg) translate(0, -50%);	transform: rotate(135deg) translate(0, -50%);}
.metismenu .active > .has-arrow::after{-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-ms-transform: rotate(90deg);-o-transform: rotate(90deg);transform: rotate(90deg);}











