@media (max-width: 1266px) {
header .primary_nav nav.topbar-nav ul.navbar li.nav-item{padding:0 12px; }
header .primary_nav ul.top-actions > li{padding: 41px 10px;}
header .primary_nav ul.top-actions > li > a{font-size: 14px;}
header .primary_nav ul.top-actions{padding: 0;}
header .primary_nav ul.top-actions > li:last-child {padding-top: 30px;}
header .primary_nav.stickyHeader ul.top-actions > li {padding: 26px 8px;}
header .primary_nav.stickyHeader ul.top-actions > li:last-child {padding-top: 17px;}
header .primary_nav .topbar .nav-grid {padding-left: 0;padding-right: 0;}
.listing_title_unit{margin-right: 0;}
.property_menu_wrapper_hidden.fixed{top: 77px;}
.space-availability .listing_description h4{padding: 15px 0;}
.space-availability #accordion .panel-title > a{padding: 2.2em 0.6em;}
.my-calender {padding: 35px 15px 15px 0px;}

.comment-box{width: 300px;}
}

@media (max-width: 1199px) {
.space-need-slide .slick-next {right: -15px;}
.space-need-slide .slick-prev {left: -15px;}
.card-content{min-height: 400px;}
.footer-content .category_name {padding: 0px 0px;}
.advance-search, .advance-login{padding: 20px 20px 20px 20px;}
.card-img span.card-verified{left: 67%;}

.space-availability .category_details_wrapper a, .space-availability .no_link_details {margin-left: 9px;margin-right: 0px;}
.space-availability .no_link_details strong {margin-right: 2px;}
.property_menu_wrapper_hidden .property_menu_wrapper_insider {width: 900px;}
.contact_sidebar_wrap i {margin-right: 5px;width: 12px;}
.office-search-content{max-width: 900px;}
.listing-office .card-content {min-height: 520px;}
.footer-content .property_listing{padding-bottom: 30px;}
.footer-content .price_unit_wrapper{top: 46px;left: 0;}
.footer-content .title-container{margin-top: 0;}
.find-space-property .listing-unit-img-wrapper img {max-height: 208px;width: 100%;object-fit: cover;}
.find-space-property .price_unit_wrapper {position: absolute;right: 28px;top: 214px;}
.find-space-property .title-container{padding-left: 0;}
.irs-from, .irs-to, .irs-single {font-size: 13px !important;}
.find-space-property .card-img{width: 100%;}
.reservation-rating .rating-widget{width: 100%;float: left;}
.comment-box {width: 400px;margin-top: 15px;}
.reservation-submit-btn{margin-top: 15px;}

}


@media (max-width: 991px) {

header .primary_nav.stickyHeader ul.top-actions > li {padding: 17px 0px;}
.app-container .content-container .side-menu .navbar ul.metismenu li{border-bottom: 1px solid #3E4453;}
 .MainBanner {

 min-height: 250px;

 background-size: cover;

 }

 .MainBanner .HB_Caption h1 {

 font-size: 46px;

 line-height: 46px;

 }

 .MainBanner .HB_Caption .breadcrumb > li {

 font-size: 16px;

 }

 .MainBanner .HB_Caption .breadcrumb > li a {

 font-size: 16px;

 }

 .MainBanner .HB_Caption .breadcrumb > li + li:before {

 font-size: 16px;

 }

 .wrap-title h2 {

 font-size: 32px;

 }

 .wrap-title span {

 font-size: 16px;

 }

 .wrap-title a {

 font-size: 16px;

 }

 .btn {

 font-size: 13px;

 line-height: 25px;

 padding: 8px 20px;

 }

 .pro_detail .product_detail_inner .add_to_cart_form .CartItem ul.QuantityBox {

 height: 43px;

 }

 header .utility_nav {

 display: none;

 }

 header .primary_nav .primary_topbar {

 display: none;

 }

 header .primary_nav .site-logo {

 padding: 15px 0 13px 0;
 position: absolute;
 left: 50%;
 transform: translate(-50%);

 }
 .stickyHeader .sticky-logo {
    display: block;
    padding: 15px 0;
    float: left;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

 header .primary_nav ul.top-actions li {

 padding: 22px 0px;

 }

 header .primary_nav .search-box {

 padding: 5px 0;

 }

 .topbar .col-md-3.left {

 float: right;

 }


 .navbar-expand-toggle {

 display: inline-block;

 }

 .app-container {

 margin-top: 0;

 }

 .slide-caption .small-content {

 max-width: 335px;

 }

 .slide-caption .small-content h1 {

 font-size: 48px;

 line-height: 40px;

 }

 .slide-caption .small-content h1 span {

 font-size: 35px;

 }

 .slide-caption .small-content h5 {

 font-size: 15px;

 margin-bottom: 10px;

 }

 .slide-caption .small-content a.btn {

 font-size: 13px;

 line-height: 25px;

 padding: 8px 20px;

 margin-top: 20px;

 }

 .shop_content .shop_item {

 padding: 0 0 20px;

 }

 .shop_content[class^="col-md-"]:nth-last-child(-n+2) .shop_item {

 padding-bottom: 0px;

 }

 .most-sale {

 padding: 35px 0;

 }

 .most-sale .most-sale-desc .ms-vendor a {

 font-size: 14px;

 letter-spacing: 5px;

 }

 .most-sale .most-sale-desc h2 {

 font-size: 34px;

 line-height: 41px;

 }

 .most-sale .most-sale-desc a.btn {

 margin-top: 20px;

 }

 .aboutwrap {

 padding: 65px 0;

 }

 .aboutwrap figure:before {

 left: -10px;

 bottom: -10px;

 }

 .aboutwrap .aw-desc {

 max-width: 100%;

 }

 .aboutwrap .aw-desc h2 {

 font-size: 24px 0;

 line-height: 27px;

 margin-top: 0px;

 }

 .aboutwrap .aw-desc p {

 line-height: 21px;

 }

 .aboutwrap .aw-desc .btn {

 margin-top: 12px;

 }

 .counter-wrap {

 padding: 65px 0;

 }

 .counter-wrap span {

 font-size: 46px;

 line-height: 46px;

 }

 .blog-wrap figure {

 margin-bottom: 30px;

 }

 .blog-wrap .post-content h2 {

 font-size: 22px;

 line-height: 29px;

 margin: 10px 0px 20px 0;

 }

 .widget-wrap .widget-title h4 {

 font-size: 20px;

 }

 .widget-wrap ul.social-nav,

 .widget-wrap ul.cat-nav,

 .widget-wrap ul.archives-nav {

 padding-bottom: 16px;

 }

 .widget-wrap form {

 margin-bottom: 16px;

 }

 .widget-wrap ul.recent_post li .rp-detail h6 {

 font-size: 14px;

 line-height: 19px;

 }

 .widget-wrap ul.recent_post li {

 margin-bottom: 20px;

 }

 .car-none {

 display: block;

 }

 .listing-none {

 display: none;

 }



 .pro_info_bar,

 .pro_desc_tabs {

 padding-top: 40px;

 }

 .pro_desc_tabs .tab-center .nav li a {

 padding: 10px 16px;

 }

 .related_products {

 padding: 45px 15px;

 }

 .related_products .wrap-title {

 padding-bottom: 22px;

 }

 .google_map #gmap_canvas {

 height: 350px;

 }

 .cart_wrap {

 padding: 0px;

 }

 .cart_wrap > ul > li.title-box {

 padding: 8px 50px 8px 0px;

 }

 .cart_wrap > ul > li.CartItem {

 padding: 18px 50px 18px 0px;

 }

 .cart_wrap > ul .pro_Desc {

 padding-left: 16px;

 }

 .cart_wrap > ul .pro_Desc h6 {

 font-size: 18px;

 line-height: 19px;

 }

 .cart_wrap > ul div p {

 line-height: 19px;

 }

 .cart_wrap > ul > li.CartBtn {

 padding: 30px 0 20px 0;

 }

 .cart_wrap > ul > li .tt-remove {

 right: 0px;

 }

 .cart_wrap .cart-footer h4 {

 font-size: 22px;

 }

 .cart_wrap .cart-footer .coupon-option {

 padding-right: 158px;

 }

 .cart_wrap .cart-footer .coupon-option input[type="text"] {

 margin-bottom: 0px;

 }

 .cart_wrap .cart-footer .coupon-option .btn {

 position: absolute;

 top: 1px;

 right: 1px;

 }


 .shop_view .shop_item {

 margin-bottom: 24px;

 }

 #shop-widgets-filters {

 display: none;

 }

 .SidebarPageWrap {

 padding: 40px 0;

 }
 .booking-form .form-group {margin-bottom: 20px;}
 .booking-form .col-md-3{padding: 0;}
 .space-need, .rental-offer, .how-it-works, .stay-in-touch{padding: 50px 0;}
 .card-content {min-height: 450px;}
 .read-more-btn{margin: 30px 0;}
.footer-content .property_listing{max-width: 100%;}
.footer-content .category_name {padding: 0px 10px;}
.footer-content .title-container{width: 300px;}
.details-card .col-md-4 {padding-left: 15px;padding-right: 15px;}
.contact-section{padding-bottom: 0;}
.find-section-map, .g-map-space-right{width: 100%;position: static;}
.banner-gallery .rating-hour, .banner-gallery .property-rating{text-align: left;}
.book-now-sidebar {position: static;}
.property_menu_wrapper_hidden.fixed {top: 72px;}
.property_menu_wrapper_hidden .property_menu_wrapper_insider {width: 700px;}
.property_menu_wrapper_hidden .property_menu_item{margin-right: 25px;}
.reservation_buttons:first-of-type {padding-right: 0;margin-bottom: 15px;}
.cost_row{max-width: 100%;}
.property-review{padding: 25px 0;}
.review-content{margin-top: 35px;}
.owner-content {padding-left: 20px;}
.reviewer_image{top: 0;}
.contact_sidebar_wrap{margin-bottom: 30px;}
.footer-menu li{margin-left: 20px;}
.bottom-footer .copyright, ul.footer-menu li a{font-size: 12px;}
.contact_sidebar_wrap i {margin-right: 9px;width: 15px;}
.office-search-content {max-width: 700px;left: 5%;}
header .primary_nav ul.top-actions > li > a{background-color: transparent;box-shadow: none;}
header .primary_nav.stickyHeader ul.top-actions > li > a{background-color: transparent;box-shadow: none;}
header .primary_nav ul.top-actions > li > a:hover {box-shadow: none;transform: translate(0px);}
.footer-content .price_unit {padding: 4px 11px;}
.g-map-space-right{overflow-y: hidden;height: auto;}
#user_tab_menu_trigger{display: block;}
#user_tab_menu_container{overflow-y: auto;z-index: 99;position:absolute;top: 0px;width: 315px;max-width: 100%;height: 100%;
  transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;
  -ms-transform: all 0.5s ease-in-out;transform: translateX(-100%);-webkit-transform: translateX(-100%);-moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);-ms-transform: translateX(-100%);border-right: none;background: #282D33;}
#ToggleSideMenu{color: #fff;}    
#user_tab_menu_container.toggled{transform: translateX(0px);-webkit-transform: translateX(0px);-moz-transform: translateX(0px);
  -o-transform: translateX(0px);-ms-transform: translateX(0px);}
.profile-containe {padding-left: 0;}
.default-user-pic {max-width: 200px;margin-bottom: 30px;}
.favorites_space_panel .row{margin-left: 15px;margin-right: 15px;}

}

@media (max-width: 767px) {
.per-hour-content a h2{line-height: 1.1em;font-size: 35px;width: 300px;}
.per-hour-content span{margin: 10px auto 10px 0;}
.space-need, .rental-offer, .how-it-works, .stay-in-touch, .footer-content, .space-with-work {padding: 25px 0;}
.home-heading h2, .home-heading2 h2{font-size: 22px;line-height: 1.2;margin-bottom: 15px;}
.how-it-work-title{font-size: 22px;line-height: 1.2;}
.home-heading p, .home-heading2 p {font-size: 14px;line-height: 1.4;}
.home-heading, .how-it-work-title, .home-heading2{margin-bottom: 20px;}
.per-hour{height: 450px;}
.card-img span.card-verified{left: 71%;}
.footer-menu{float: left;}
.footer-menu li{margin-left: 0px;margin-right: 8px;}
.g-map-space-right .card-img span.card-verified {left: 46%;}
.find-space-property .price_unit_wrapper {right: 19px;top: 222px;}
.g-map-space-right{padding-left: 15px;padding-right: 15px;}
.find-space-property{padding: 30px 5px 0px 5px;}
.find-section-map iframe{height: 450px;}
.listing_title_unit{padding-right:45px;font-size: 16px;}
.property_menu_wrapper_hidden.fixed{display: none;}
.banner-gallery .banner-entry-title h1, .banner-gallery .rating-hour{font-size: 24px;}
.space-availability .check_avalability{float: left;}
.space-book-now{padding: 20px 0;}
.p50 {    padding: 25px 0;}
.owner-pic{margin:0; }
.owner-content {padding-left:0px;}
.space-availability .com-md-8, .space-availability .com-md-4{padding-left: 0;padding-right: 0;}
.photos-lightbox img {height: auto;}
.my-calender .fc-toolbar .fc-center, .my-calender .fc-toolbar .fc-right{display: none;}
.work-service .service-item {min-height: auto;margin-bottom: 70px;}
.work-service{margin-top: 50px;}
.equal-heights .card-content {min-height: auto;}
.office-search-content {max-width: 500px;left: 7%;}
.listing-office .card-content {min-height: auto;}
.space-availability #accordion .panel-title > a {padding: 1em 0.6em;}
.social-network ul li a, .social-links li a{width: 35px;height: 35px;line-height: 35px;}
}

@media (max-width: 575px) {
header .primary_nav ul.top-actions li {padding: 22px 0px;}  
header .primary_nav.stickyHeader ul.top-actions > li {padding: 15px 0px;}
.search-banner{height: 600px;}  
.slidcaption{top: 55%;}
.slidcaption h1{font-size: 30px;line-height: 1em;}
.slidcaption p{font-size: 16px;line-height: 1.3em;margin-bottom: 35px;}
.footer-content .category_name {padding: 0;}
.card-img span.card-verified {left: 63%;}
.card-content, .releted-post .card-content{min-height: auto;}
.find-space-property .listing-unit-img-wrapper img {max-height: 100%;width: 100%;}
.find-space-property .title-container {padding-left: 0;}
.space-availability .category_details_wrapper{padding-top: 0;}
.space-availability .category_wrapper{padding: 0 0 25px 0;}
.space-availability .category_details_wrapper a, .space-availability .no_link_details {margin-left: 0;margin-right: 10px;}
.review-date{display: none;}
.banner-gallery{height: 400px;}
.login-popup-user .modal-dialog {width: 335px;}
.login-popup-user .nav>li>a{padding: 15px 39px;}
.footer-content .price_unit_wrapper{left: 0; top: 46px;}
.footer-content .property_listing{margin-bottom: 10px;padding-bottom: 23px;}
.footer-content .title-container{margin-top: 0;}
.footer-content .listing-unit-img-wrapper{max-width: 170px;height: 130px;}
.footer-content .listing-unit-img-wrapper img {height: 130px;}
.office-search-content {max-width: 300px;left: 9%;}
.inner-office-search{height: 425px;}
.office-search-content a{padding: 15px 100px;}
.office-search-content h1{font-size: 28px;line-height: 1.1em;}
.office-search-content p{font-size: 16px;}
.footer-content .price_unit {padding: 4px 0px;}
.meta-info{margin-top: 5px;}
.prop_social_single{float: left;padding-top: 15px;}
.find-space-property .price_unit_wrapper {right: 15px;top: 240px;}

#user_tab_menu_container{width: 260px;}
.comment-box form textarea {width: 250px;margin-bottom: 0;}
.comment-box {width: 250px;}
.reservation-rating{padding: 15px;}
.reservation-widget.advance-search{width: 100%;}

}
@media (max-width: 374px) {
header .primary_nav .site-logo{float: none;}
.home-newsletter .btn{font-size: 13px;padding: 0 5px;}
.ui-datepicker {width: 275px;}
.login-popup-user .modal-dialog {width: 310px;}
.login-popup-user .nav>li>a {padding: 15px 34px;}
.office-search-content{left: 3%;}
}