<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<header class="WFwrap">
    <div class="primary_nav WFwrap">
        <div class="container-fluid">
            <div class="topbar WFwrap">
                <div class="logo nav-grid">
                    <button class="navbar-expand-toggle"><span></span>
                    </button>
                    <figure class="site-logo">
                        <a routerLink="/">
                            <img src="assets/image/header-logo.png" alt="" />
                        </a>
                    </figure>
                    <figure class="sticky-logo">
                        <a href="index.html">
                            <img src="assets/image/header-logo.png" alt="" />
                        </a>
                    </figure>
                </div>
                <div class="nav-grid">
                    <ul class="top-actions" *ngIf="!islogin">
                        <!-- <li class="ta-cart car-none"><a href="/" id="shoppingcart"><em class="fa fa-cogs"></em></a>
                        </li> -->
                        <li class="listing-none"><a class="authModal" (click)="showModal()"><em class="fa fa-user-circle"></em>Sign in</a>
                        </li>
                    </ul>
                </div>
                <div class="primary_topbar nav-grid">
                    <nav class="topbar-nav">
                        <ul class="navbar">
                            <li class="nav-item"><a [ngClass]="{'headerClrCls activeurl': newclass == 1 }" routerLink="/">Home</a>
                            </li>
                            <li class="nav-item"><a [routerLinkActive]="'activeurl'" [ngClass]="{'headerClrCls': newclass == 1 }" routerLink="/find-space">Find Space</a>
                            </li>
                            <li class="nav-item"><a [routerLinkActive]="'activeurl'" [ngClass]="{'headerClrCls': newclass == 1 }" routerLink="/contact-us">Contact</a>
                            </li>
                            <li class="nav-item my-profile" *ngIf="islogin"><a href="javascript:void(0)" [ngClass]="{'headerClrCls': newclass == 1 }"><em class="fa fa-user-circle"></em>  My Account</a>
                                <ul class="submenu">
                                    <li><a routerLink="/myprofile"><em class="fa fa-cog" aria-hidden="true"></em> My Profile</a></li>
                                    <li><a routerLink="/favorite-space"><em class="fa fa-heart" aria-hidden="true"></em> Favorites</a></li>
                                    <li><a routerLink="/my-reservations"><em class="fa fa-book" aria-hidden="true"></em> Reservations</a></li>
                                    <li><a (click)='logout()'><em class="fa fa-power-off" aria-hidden="true"></em>  Log out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="app-container">
    <div class="content-container">
        <div class="side-menu sidebar-inverse">
            <nav class="navbar navbar-default" role="navigation">
                <div class="side-menu-container">
                    <div class="navbar-header">
                        <h4>main navigation</h4>
                        <button class="close-nav"><em class="fa fa-times"></em>
                        </button>
                    </div>
                    <ul class="metismenu" id="side-menu">
                        <li><a routerLink="/">Home</a>
                        </li>
                        <li><a routerLink="/find-space">Find Space</a>
                        </li>
                        <!-- <li class="nav-item"><a routerLink="/blog">Blog</a>
                        </li> -->
                        <li class="nav-item"><a routerLink="/contact-us">Contact</a>
                        </li>
                        <li class="nav-item" (click)="showModal()" *ngIf="!islogin"><a href="javascript:void(-1)">Log In</a>
                        </li>
                        <div *ngIf="islogin">
                            <li><a routerLink="/myprofile"><em class="fa fa-cog" aria-hidden="true"></em> My Profile</a></li>
                            <li><a routerLink="/favorite-space"><em class="fa fa-heart" aria-hidden="true"></em> Favorites</a></li>
                            <li><a routerLink="/my-reservations"><em class="fa fa-book" aria-hidden="true"></em> Reservations</a></li>
                            <li><a (click)='logout()'><em class="fa fa-power-off" aria-hidden="true"></em>Log out</a></li>
                        </div>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="bs-example bs-example-tabs">
                <button type="button" class="close" (click) ="onHidden()">&times;</button>
                <ul id="myTab" class="nav nav-tabs">
                    <li id="tab1" (click)="removeMsg();resetFrm()" class="active tab-style login-shadow "><a href="#login" data-toggle="tab">Login</a>
                    </li>
                    <li id="tab2" (click)="removeMsg();resetFrm()" class="tab-style "><a href="#signup" data-toggle="tab">Sign Up</a>
                    </li>
                </ul>
            </div>
            <div class="modal-body">
                <div id="myTabContent" class="tab-content">
                    <button data-dismiss="modal" hidden class="closemodelbtn" aria-label="Close">Close</button>
                    <div class="alert-box-contact-page error" *ngIf="loginSuccess">
                        <div class="alert alert-success" id="alert-agent-contact">Login Succesfully</div>
                    </div>
                    <div class="alert-box-contact-page error" *ngIf="loginFailed">
                        <div class="alert alert-danger" id="alert-agent-contact">Invalid email and password!</div>
                    </div>
                    <div class="alert-box-contact-page error" *ngIf="regiSuccess">
                        <div class="alert alert-success" id="alert-agent-contact">Registration Succesfully</div>
                    </div>
                    <div class="alert-box-contact-page error" *ngIf="regiFailed">
                        <div class="alert alert-danger" id="alert-agent-contact">Email already taken</div>
                    </div>

                    <div class="tab-pane fade active in" id="login">
                        <form class="form-horizontal" #userlogin="ngForm" (ngSubmit)="userlogin.form.valid && userLogin(userlogin)">
                            <input type="text" name="access_type" hidden [ngModel]=1 id="">
                            <fieldset>
                                <!-- Sign In Form -->
                                <!-- Text input-->
                                <div class="login-title">
                                    <h2>Login</h2>
                                </div>
                                <div class="group" style="margin-bottom: 20px">
                                    <input required class="input" #email="ngModel" name="email" type="email" ngModel placeholder="Email" style="margin-bottom: 10px"><span class="highlight"></span><span class="bar"></span>
                                    <div *ngIf="userlogin.submitted && email.invalid" class="invalid-feedback text-danger">
                                        <div *ngIf="email.errors.required">Email is required</div>
                                    </div>
                                </div>

                                <!-- Password input-->
                                <div class="group" style="margin-bottom: 20px">
                                    <input required class="input" #password="ngModel" name="password" type="password" ngModel placeholder="Password" style="margin-bottom: 10px"><span class="highlight"></span><span class="bar"></span>
                                    <div *ngIf="userlogin.submitted && password.invalid" class="invalid-feedback text-danger">
                                        <div *ngIf="password.errors.required">Password is required</div>
                                    </div>
                                </div>
                                <!-- Button -->
                                <div class="control-group">
                                    <div class="controls">
                                        <button type="submit" id="signin" name="signin" class="btn-shop btn-block">Login</button>
                                    </div>
                                </div>
                                <div class="forgot-link">
                                    <a (click)="newShowModel()" class="dont-have-ac" data-toggle = "collapse" data-target="#forgot-pass">Forgot your password?</a>
                                </div>
                            </fieldset>
                        </form>
                        <div class="reset-pass collapse" id="forgot-pass">
                            <form class="form-horizontal" #fasfasfas="ngForm" (ngSubmit)="fasfasfas.form.valid && forgetPass(fasfasfas)" >
                                <input type="text" name="access_type" hidden [ngModel]=1 id="">
                                <fieldset>
                                    <div class="group">
                                        <input ngModel required=""  #email ="ngModel" name="email" class="input" type="email" placeholder="email"><span class="highlight"></span><span class="bar"></span>
                                        <div *ngIf="fasfasfas.submitted && email.invalid" class="invalid-feedback text-danger">
                                            <div *ngIf="email.errors.required">Email is required</div>
                                        </div>
                                    </div>
                                    <div class="text-danger" *ngIf="ifEmalnt">
                                        Email not exist!
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <button type="submit" class="btn-shop btn-block">Reset Password</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="login-with">
                        </div>
                        <p class="dont-have-ac">Don't have an account yet? <a href="#signup" data-toggle="tab" (click)="addmodelClass()">Sing up</a> now.</p>
                        <a id="logintestdemo" href="#login" hidden data-toggle="tab"></a>
                    </div>
                    <div class="tab-pane fade" id="signup">
                        <form class="form-horizontal" #userRegitration="ngForm" (ngSubmit)="userRegitration.form.valid && userRegistration(userRegitration)" >
                            <fieldset>
                                <!-- Sign Up Form -->
                                <!-- Text input-->
                                <div class="login-title">
                                    <h2>Sign Up</h2>
                                </div>
                                <div class="group">
                                    <input class="input" name="firstname" ngModel type="text" placeholder="First Name"><span class="highlight"></span><span class="bar"></span>
                                </div>
                                <div class="group">
                                    <input class="input" name="lastname" ngModel type="text" placeholder="Last Name"><span class="highlight"></span><span class="bar"></span>
                                </div>
                                <!-- Text input-->
                                <div class="group" style="margin-bottom: 10px">
                                    <input required="" name="email" ngModel class="input" type="email" placeholder="Email" #regemail="ngModel" style="margin-bottom: 10px" email ><span class="highlight"></span><span class="bar"></span>
                                    <div *ngIf="userRegitration.submitted && regemail.invalid" class="invalid-feedback text-danger">
                                        <div *ngIf="regemail.errors.required">Email is required</div>
                                        <div *ngIf="regemail.errors.email">Email must be a valid email address</div>
                                    </div>
                                </div>
                                <!-- Password input-->
                                <div class="group" style="margin-bottom: 10px">
                                    <input required="" name="password" ngModel class="input" type="password" placeholder="Password" #regpassword="ngModel"  minlength="6" style="margin-bottom: 10px"><span class="highlight"></span><span class="bar"></span>
                                    <div *ngIf="userRegitration.submitted && regpassword.invalid" class="invalid-feedback text-danger">
                                        <div *ngIf="regpassword.errors.required">Password is required</div>
                                        <div *ngIf="regpassword.errors.minlength">Password must be at least 6 characters</div>
                                    </div>
                                </div>
                                <!-- Text input-->
                                <!-- <input type="checkbox" required name="terms" id="user_terms_register_wd" ngModel  #regcheck="ngModel">
                                -->
                                <label id="user_terms_register_wd_label" for="user_terms_register_wd">By signing up, I agree to <a routerLink="/Privacy-Policy" target="_blank" id="user_terms_register_topbar_link">privacy policy</a> and
                                <a routerLink="/Terms-Condition" target="_blank" id="user_terms_register_topbar_link">customer agreement</a>
                                </label>
                                <p id="reg_passmail"></p>
                                <!-- Button -->
                                <div class="control-group">
                                    <div class="controls">
                                        <button id="confirmsignup" name="confirmsignup" class="btn-shop btn-block">Sign Up</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="forpassmodel" [config]="{ show: true }" (onHidden)="newonHidden()" bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="bs-example bs-example-tabs">
                <button type="button" class="close" (click) ="newonHidden()">&times;</button>
                <ul id="myTab" class="nav nav-tabs" style="border-bottom: unset;">
                    <h3 class="text-center">Forgot password?</h3>
                </ul>
            </div>
            <div class="modal-body">
               
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="login">
                        <!-- <div class="reset-pass collapse" id="forgot-pass"> -->
                            <form class="form-horizontal" #fasfasfas="ngForm" (ngSubmit)="fasfasfas.form.valid && forgetPass(fasfasfas)" >
                                <input type="text" name="access_type" hidden [ngModel]=1 id="">
                                <fieldset>
                                    <div class="group">
                                        <input ngModel required=""  #email ="ngModel" name="email" class="input" type="email" placeholder="email"><span class="highlight"></span><span class="bar"></span>
                                        <div *ngIf="fasfasfas.submitted && email.invalid" class="invalid-feedback text-danger">
                                            <div *ngIf="email.errors.required">Email is required</div>
                                        </div>
                                    </div>
                                    <div class="text-danger" *ngIf="ifEmalnt">
                                        Email not exist!
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <button type="submit" class="btn-shop btn-block">Reset Password</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        <!-- </div> -->
                        <div class="login-with">
                        </div>
                        <p class="dont-have-ac">Don't have an account yet? <a href="#signup" data-toggle="tab" (click)="addmodelClass()">Sing up</a> now.</p>
                        <a id="logintestdemo" href="#login" hidden data-toggle="tab"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>