<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<section class="find-section">
    <div class="col-md-6 p0">
        <div class="find-section-map">
            <agm-map id="demo" [latitude]="lat" [longitude]="lng" [fitBounds]="true">
                <agm-marker id="demo12" *ngFor="let marker of markers;let i = index;" [latitude]="marker.lat" [longitude]="marker.lng" [agmFitBounds]="true">
                    <agm-snazzy-info-window #snazzyInfoWindow [closeWhenOthersOpen]="true" [closeOnMapClick]="true" (afterClose)="close(i)" [isOpen]="marker.isOpen" [latitude]="marker.lat" [longitude]="marker.lng">
                        <ng-template>
                            <div class="infogradient"></div>
                            <div class="infoimage" [ngStyle]="{'background-image':'url(http://sparklinespace.tecocraft.co.in/console'+marker.img?.image +')'}"></div>
                            <div class="si-mapp--desc">
                                <a id="infobox_title">{{marker.name}}</a>
                                <div class="prop_pricex">$ {{marker.daily_rate}}</div>
                                <div class="prop_detailsx">{{marker.street}} / {{marker.city}}</div>
                                <div class="si-mapp-infodetails">
                                    <span id="inforoom" class="custom_infobox_icon"><i class="fa fa-user-circle"></i>{{marker.maximum_total}}</span>
                                </div>
                            </div>
                        </ng-template>
                    </agm-snazzy-info-window>
                </agm-marker>
            </agm-map>
        </div>
    </div>
    <div class="col-md-6 p0">
        <div class="g-map-space-right" id="style-1">
            <div class="find-space-search-side advance-search">
                <form id="widget_search" #signupForm="ngForm" novalidate id="seachForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group"> <em class="cust-cion-right fa fa-map-marker"></em>
                                <input class="form-control location-text" type="text" placeholder="Search by Location" name="location" (keyup)="onchange()" [(ngModel)]="location">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group"> <em class="cust-cion fa fa-th"></em>
                                <div class="dropdown form-control dropdown custom_icon_class icon_actionslist" style="padding: unset;">
                                    <ng-multiselect-dropdown [ngModelOptions]="{standalone: true}" [placeholder]="'Amenities'" [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onchange(signupForm)" (onSelectAll)="onchange(signupForm)" (onDeSelect)="onchange(signupForm)" (onDeSelectAll)="onchange(signupForm)">
                                    </ng-multiselect-dropdown>
                                    <span class="caret caret_filter caret1"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input type="hidden" name="category_id" [(ngModel)]="category_id" id="type">
                            <div class="form-group"><em class="cust-cion fa fa-clone"></em>
                                <div class="dropdown form-control custom_icon_class icon_categlist">
                                    <div data-toggle="dropdown" id="category-id" class="filter_menu_trigger" aria-expanded="false">Categories <span class="caret caret_filter"></span>
                                    </div>
                                    <ul class="dropdown-menu filter_menu" role="menu" aria-labelledby="adv_categ">
                                        <li role="presentation" (click)="setCate('','Categories');">All</li>
                                        <li role="presentation" *ngFor="let category of categories" (click)="setCate(category.id,category.name)">{{category.name}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input type="text" hidden name="type" [(ngModel)]="numPeople" id="type">
                            <div class="form-group"> <em class="cust-cion fa fa-user-circle-o"></em>
                                <div class="dropdown form-control custom_icon_class icon_categlist">
                                    <div data-toggle="dropdown" id="attendeed-id" class="filter_menu_trigger" aria-expanded="false">
                                        Attendees
                                        <span class="caret caret_filter"></span>
                                    </div>
                                    <ul class="dropdown-menu filter_menu" id="style-1" role="menu" aria-labelledby="adv_categ">
                                        <li (click)="setPeople('people')"> any </li>
                                        <li (click)="setPeople('1-4')">1-4</li>
                                        <li (click)="setPeople('5-9')">5-9</li>
                                        <li (click)="setPeople('10-14')">10-14</li>
                                        <li (click)="setPeople('15-19')">15-19</li>
                                        <li (click)="setPeople('20-29')">20-29</li>
                                        <li (click)="setPeople('30+')">30+</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group"> <em class="cust-cion fa fa-calendar"></em>
                                <input class="form-control input-group date" id="datePlcHld" type="text" placeholder="Date" data-toggle="modal" data-target="#demotest">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input type="hidden" name="priceType" [(ngModel)]="priceType" id="priceType">
                            <div class="form-group"><em class="cust-cion fa fa-clone"></em>
                                <div class="dropdown form-control custom_icon_class icon_categlist">
                                    <div data-toggle="dropdown" id="price-short-id" class="filter_menu_trigger" aria-expanded="false">Short by best match <span class="caret caret_filter"></span>
                                    </div>
                                    <ul class="dropdown-menu filter_menu" role="menu" aria-labelledby="adv_categ">
                                        <li role="presentation" (click)="setType('Short by best match','');">Best Match</li>
                                        <li role="presentation" (click)="setType('Price: low - high',1);">Price: low - high</li>
                                        <li role="presentation" (click)="setType('Price: high - low',2);">Price: high - low</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3 slider_radius_wrap">
                                <input type="number" hidden [(ngModel)]="minRange" name="minRange">
                                <input type="number" hidden [(ngModel)]="maxRange" name="maxRange">
                                <div class="label_radius"> Range:
                                    <span class="radius_value"> $ {{minRange}} - $ {{maxRange}}</span>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <ng5-slider [(value)]="minRange" [(highValue)]="maxRange" [options]="options" (userChange)="onchange(signupForm)"></ng5-slider>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="find-space-property">
                <div class="find-space-property-title">Find a Space</div>
                <div class="card-content" *ngFor="let property of propertys; let i = index" routerLink="/property-detail/{{property.id}}" (mouseover)="open(i)">
                    <div class="card-img">
                        <div class="listing-unit-img-wrapper">
                            <div class="cross"></div>
                            <a href="javascript:void(0)">
                                <img (mouseover)="open(i)" src="https://sparklinespace.tecocraft.co.in/console{{ property.property_images[0]?.image || '/public/images/property/space-8/1563170104.jpg' }}" class="img-responsive" alt="">
                            </a> <span>0 <em class="fa fa-star"></em></span>
                        </div>
                    </div>
                    <div class="card-desc">
                        <div class="title-container">
                            <div class="price_unit_wrapper">
                                <div class="price_unit">$ {{property.daily_rate}} /Daily</div>
                            </div>
                            <div class="category_name">
                                <a href="javascript:void(0)" class="listing_title_unit" style="padding-right: 130px"> <span>
                                {{property.street}}</span>
                                </a>
                                <div class="category_tagline">
                                    <p>{{property.street}}</p>
                                </div>
                                <div class="category_tagline">
                                    <img src="assets/image/unit_pin.png" alt="location"> <a href="javascript:void(0)" rel="tag">{{property.city}}</a>, <a href="javascript:void(0)"  rel="tag">{{property.state}}</a>
                                </div>
                                <div class="category_tagline">
                                    <img src="assets/image/unit_category.png" alt="location"> <a href="javascript:void(0)">{{property.maximum_total}} People</a>
                                </div>
                            </div>
                            <div *ngIf="islogin">
                                <div class="property_unit_action" (click)="property.isFavorite = !property.isFavorite;onEvent($event,property.id)"><span class="icon-fav icon-fav-off pink-toolti" [ngClass]="{'icon-fav-on': property.isFavorite}" ><i class="fa fa-heart"></i></span>
                                </div>
                            </div>
                            <div *ngIf="!islogin">
                                <div class="property_unit_action notlogin" (click)="notLoginUser($event)"><span class="icon-fav icon-fav-off pink-toolti">
                                    <i class="fa fa-heart"></i>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="propertys?.length == 0">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 noArray">
                            <!-- <img src="assets/rentals/img/property.png" alt="" height="70px" width="70px"> -->
                            <h3><b>No spaces found</b></h3>
                                <hr>
                            <h3>We don’t have any spaces matching your criteria in the selected area.</h3>
                                <br>
                            <button class="btn clrset" (click)="reloadpage();">Clear all filters</button>
                        </div>
                    </div>
                </div>
                <ng-pagination *ngIf="propertys?.length !== 0" [position]="'center'" [pageSize]="10" [itemsCount]="itemsCount" (getPageData)="pageChanged($event,signupForm)"></ng-pagination>
            </div>
        </div>
    </div>
</section>

<div class="modal fade bs-modal-lg log-sign" id="demotest" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="bs-example bs-example-tabs">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <ul id="myTab" class="nav nav-tabs">
                    <li id="tab1" class="active tab-style login-shadow "><a href="#dailyModel" data-toggle="tab">Daily</a>
                    </li>
                    <li id="tab2" class="tab-style "><a href="#hourlyModel" data-toggle="tab">Hourly</a>
                    </li>
                </ul>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="dailyModel">
                        <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" id="daily-date-id">
                        </ngb-datepicker>
                        <ng-template #t let-date let-focused="focused">
                           <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                               {{ date.day }}
                             </span>
                        </ng-template>
                        <div class="modal-footer modal-ftr-cls">
                            <button type="button"  (click) ="setDBlank();" class="btn btn-default" data-dismiss="modal"> Clear </button>
                            <button type="button" (click) ="setDailyType(1)" class="btn btn-default btn-aply" data-dismiss="modal">Apply</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="hourlyModel">
                        <div class="row">
                            <div class="col-md-6" style="position: relative; border-right: 1px solid #c2c8cf;">
                                <ngb-datepicker class="horlyhddn" outsideDays="hidden" #dp [(ngModel)]="hourlyDate" (navigate)="$event.next"></ngb-datepicker>
                            </div>
                            <div class="halfx col-md-3 guest_no" style="margin-top: 60px;">
                                <h5 class="text-center">From</h5>
                                <input type="hidden" name="guest_no" value="">
                                <select class="form-control" name="sellist1" [(ngModel)]="hourlyStrTime" placeholder="asd" (change)="setFromtime($event.target.value)">
                                    <option value="" disabled selected hidden>Starts</option>
                                    <option>--</option>
                                    <option>Anytime</option>
                                    <option *ngFor="let hour of hourlyStartTime">{{hour}}</option>
                                </select>
                            </div>
                            <div class="halfx col-md-3 guest_no" style="margin-top: 60px;">
                                <h5 class="text-center"> To </h5>
                                <input type="hidden" name="guest_no" id="from-time" value="">
                                <select class="form-control" id="sel1" name="sellist1" [(ngModel)]="hourlyEndTime">
                                    <option value="" disabled selected hidden>Ends</option>
                                    <option>--</option>
                                    <option>Anytime</option>
                                    <option *ngFor="let to of new_arr">{{to}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer modal-ftr-cls">
                            <button type="button" (click) ="setDBlank();" class="btn btn-default" data-dismiss="modal"> Clear </button>
                            <button type="button" (click) ="setDailyType(2)" class="btn btn-default btn-aply" data-dismiss="modal">Apply </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>