agm-map {
  height: 850px;
}

@media (min-width: 992px){
	.modal-lg {
	    width: 900px !important;
	}
}
.custom-day {
 	text-align: center;
    padding: 0.35rem 0.3rem;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.custom-day.focused {
  	background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  	background-color: rgb(2, 117, 216);
  	color: white;
}
.custom-day.faded {
  	background-color: rgba(2, 117, 216, 0.5);
}
.ngb-dp-weekday {
	color: #5bc0de;
}
.ngb-dp-day{
}

@media (min-width: 992px){
  #daily-date-id{
    margin-left: 65px;
  }
}
.modal-ftr-cls{
  margin-top: 20px;
}
.btn-aply{
    color: #fff;
    background-color: #00c1c5;
    border-color: #00c1c5;
}