<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<section class="admin-profile">
    <div class="container-fluid">
        <div class="row">
            <div class="profile-menu-left">
                <div class="prfile-nav-list" id="user_tab_menu_container">
                    <div class="prfile-widget">
                        <div class="prfile-widget-photo">
                            <img src="{{imgURL}}">
                        </div>
                        <h4>{{name}}</h4>
                    </div>
                    <ul class="profile-nav-option">
                        <li><a routerLink="/myprofile"><i class="fa fa-user" aria-hidden="true"></i>My Profile</a></li>
                        <li><a routerLink="/favorite-space"><i class="fa fa-heart" aria-hidden="true"></i>Favorites</a></li>
                        <li class="active"><a routerLink="/my-reservations"><i class="fa fa-book" aria-hidden="true"></i>My Reservations</a></li>
                        <li><a (click)='logout()'><i class="fa fa-power-off" aria-hidden="true"></i>Log Out</a></li>
                    </ul>
                </div>
            </div>
            <div class="profile-containe">
                <div class="dashboard-header">
                    <h1 class="entry-title-profile">My Reservation</h1>
                </div>
                <div class="reservation-book">
                    <div class="reservation-widget advance-search">
                        <div class="">
                            <select class="dropdown" id="style-1" role="menu" (change) = onChange($event.target.value)>
                                <option value="1">Upcomming</option>
                                <option value="0" >History</option>
                                <option value="2">Canceled</option>
                            </select>
                        </div>
                    </div>
                    <div class="reservation-submit" *ngFor="let property of propertys">
                        <div class="reservation-pic">
                            <img src="http://sparklinespace.tecocraft.co.in/console{{property?.property_img}}">
                        </div>
                        <div class="reservation-date">
                            <h4>{{property?.name}}</h4>
                            <p>Period:<span>{{property?.booking_date}}</span><span *ngIf="property?.end_date">to {{property?.end_date}}
                                </span>
                            </p>
                            <p *ngIf="property?.start_time">
                               Time: <span>{{ property?.start_time }} to {{ property?.end_time }}</span>
                            </p>
                        
                            <p>Price:<span>${{property?.price}}</span></p>
                        </div>
                        <div class="reservation-rating" *ngIf="type == 1">
                            <span [swal]="['Are you sure?', 'Cancel Booking', 'warning']" (confirm) ="cancelbooking(property?.id)" class="delete_booking pull-right usercancel">
                                <input type="submit" class="btn btn-primary btn-shop" name="form_submit" value="cancel">
                            </span>
                        </div>
                        <div class="reservation-rating" *ngIf="type == 0" >
                            <form #review="ngForm" (ngSubmit)="reviewproperty(review)" *ngIf="!property.is_rating_set" ngNativeValidate>
                                <div class="rating-widget">
                                    <h5>Rating</h5>
                                </div>
                                <input type="hidden" name="property_id" id="property_id" [ngModel]="property.property_id">
                                <input type="hidden" name="booking_id" id="booking_id" [ngModel]="property.id">
                                <div class="rating-star">
                                    <ngb-rating name="rating" [ngModel] max="5"></ngb-rating>
                                </div>
                                <div class="rating-widget">
                                    <h5>Comment</h5>
                                </div>
                                <div class="comment-box">
                                    <textarea rows="2" cols="50" name="message" name="message" [ngModel]="property?.rating.message" placeholder="Comment Here.." style="height: unset;" ></textarea>
                                </div>
                                <div class="reservation-submit-btn" >
                                    <input type="submit" class="btn btn-primary btn-shop" name="form_submit" value="submit">
                                </div>
                            </form>
                            <div  *ngIf="property.is_rating_set">
                                <div class="rating-widget">
                                    <h5>Rating</h5>
                                </div>
                                <input type="hidden" name="property_id" id="property_id" [ngModel]="property.property_id">
                                <input type="hidden" name="booking_id" id="booking_id" [ngModel]="property.id">
                                <div class="rating-star">
                                    <ngb-rating name="rating" [(rate)]="property?.rating.rating" [readonly]="true" max="5"></ngb-rating>
                                </div>
                                <div class="rating-widget">
                                    <h5>Comment</h5>
                                </div>
                                <div class="comment-box">
                                    <textarea rows="2" readonly="true" cols="50" name="message" name="message" [ngModel]="property?.rating.message" placeholder="Comment Here.." style="height: unset;" ></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="propertys?.length == 0">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 noArray">
                                <!-- <img src="assets/rentals/img/property.png" alt="" height="70px" width="70px"> -->
                                <h3><b>No spaces found</b></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: center;">
                <ng-pagination *ngIf="propertys?.length !== 0" [position]="'center'" [pageSize]="10" [itemsCount]="itemsCount" (getPageData)="pageChanged($event,signupForm)"></ng-pagination>
            </div>
        </div>
    </div>
</section>