<section class="banner-gallery" [ngStyle]="{'background-image': getUrl()}">
    <div class="container">
        <div class="banner-text">
            <div class="col-md-8">
                <div class="banner-entry-title">
                    <h1>{{property?.street}}</h1>
                    <p>
                        <a href="javascript:void(0)">{{property?.city}}</a>, <a href="javascript:void(0)">{{property?.state}}</a>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-rating">
                    <i class="fa fa-star" *ngFor="let item of rating"></i>
                </div>
                <div class="rating-hour">$ {{property?.hourly_rate}} per hour</div>
            </div>
        </div>
    </div>
</section>
<section class="space-availability space-book-now">
    <div class="container">
        <div class="col-md-8">
            <div class="category_wrapper ">
                <div class="category_details_wrapper">
                    <span class="no_link_details custom_prop_header">
                        <strong>Max. Guests: </strong>
                        <span>{{property?.maximum_total}}</span>
                    </span>
                    <span class="no_link_details custom_prop_header">
                        <strong>Size in sqft: </strong>
                        <span>{{property?.square_feet}}</span>
                    </span>
                    <span class="no_link_details custom_prop_header">
                        <strong>Daily Rent:</strong>
                        <span>${{property?.daily_rate}}</span>
                    </span>
                </div>
            </div>
            <div class="listing_description" id="listing_description">
                <h4>Description</h4>
                <p>{{property?.description}}</p>
            </div>
            <div id="view_more_desc" class=""></div>
        </div>
        <div class="col-md-4">
            <div class="blog-sidebar book-now-sidebar">
                <div class="advance-search">
                    <h3 class="widget-title-sidebar">Book Now </h3>
                    <form id="widget_search">
                        <span class="alert alert-danger" *ngIf="osshowerror">Please Select Valid Dates</span>
                        <span class="alert alert-danger" *ngIf="selecDateError">Please Select Date first</span>
                        <span class="alert alert-danger" *ngIf="loginDateError">Please Login first</span>
                        <span class="alert alert-danger" *ngIf="alreadyDateError">Please select another date</span>
                        <div class="form-group"> <em class="cust-cion fa fa-calendar"></em>
                            <input class="form-control input-group date" id="check_in" type="text" placeholder="Start Date" data-toggle="modal" data-target="#demotest">
                        </div>
                        <div class="guests-option">
                            <div class="cost_row cost_row_extra wpestate_show_extra_options_booking" data-value_add="10" data-value_how="2" data-value_name="water" >
                                <div class="cost_explanation">
                                    Hourly
                                    <br>
                                    <h4>${{ property?.hourly_rate }}/hour</h4>
                                </div>
                                <div class="cost_value">
                                    Daily
                                    <br>
                                    <h4>${{ property?.daily_rate }}/day</h4>
                                </div>
                            </div>
                            <div class="cost_row cost_row_extra wpestate_show_extra_options_booking" *ngIf="showcount">
                                <div class="row">
                                    <div class="cost_explanation text-center" style="border-right: 0px;font-size: 16px;">
                                        {{ countprice }}
                                    </div>
                                    <div class="cost_value text-center" style="font-size: 16px;">
                                        ${{ totalhourseprice }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="cost_explanation text-center" style="border-right: 0px;font-size: 16px;">
                                        Vat ({{ vatPercentage }}%)
                                    </div>
                                    <div class="cost_value text-center" style="font-size: 16px;">
                                        $ {{ percenatgevalue }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="cost_explanation text-center" style="border-right: 0px;">
                                        <h4 >Total </h4><br>
                                    </div>
                                    <div class="cost_value text-center">
                                        <h4>$ {{withVat}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="advanced_submit">
                            <button class="advanced_submit_widget bg2" (click)="booknow();">Book Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="space-availability p50">
    <div class="container">
        <div class="col-md-8">
            <div class="photos-lightbox">
                <ngx-gallery [options]="galleryOption" [images]="galleryImage"></ngx-gallery>
            </div>
        </div>
    </div>
</section>
<section class="space-availability p50">
    <div class="container">
        <div class="col-md-8 p0">
            <div class="property-accordina-list" id="listing_price">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingtwo">
                            <h4 class="panel-title">
                            <a role="button" class="asddada" aria-expanded="true" aria-controls="collapseOne">
                              Listing Address
                            </a>
                            </h4>
                        </div>
                        <div id="collapsetwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingtwo">
                            <div class="panel-body">
                                <div class="listing_detail list_detail_prop_address col-md-6"><span class="item_head">Street: </span> {{property?.street}}</div>
                                <div class="listing_detail list_detail_prop_city col-md-6"><span class="item_head">City: </span> {{property?.city}}
                                </div>
                                <div class="listing_detail list_detail_prop_area col-md-6"><span class="item_head">State: </span>{{property?.state}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default" id="listing_ammenities">
                        <div class="panel-heading" role="tab" id="headingfour">
                            <h4 class="panel-title">
                                <a role="button" class="asddada" aria-expanded="true" aria-controls="collapseOne">
                                    Amenities
                                </a>
                            </h4>
                        </div>
                        <div id="collapsefour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingfour">
                            <div class="panel-body">
                                <div class="listing_detail col-md-6" *ngFor="let amenitie of property?.amenities"><i class="fa fa-check checkon"></i>
                                    {{amenitie.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default" id="listing_ammenities">
                        <div class="panel-heading" role="tab" id="headingfour">
                            <h4 class="panel-title">
                                <a role="button" class="asddada" aria-expanded="true" aria-controls="collapseOne">
                                    Services
                                </a>
                            </h4>
                        </div>
                        <div id="collapsefour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingfour">
                            <div class="panel-body">
                                <div class="listing_detail col-md-6" *ngFor="let services of property?.services"><i class="fa fa-check checkon"></i>
                                    {{services.service}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="my-calender" id="listing_calendar">
                <div id="calendar"></div>
            </div> -->
        </div>
    </div>
</section>
<!-- <section class="property-review" id="listing_reviews">
    <div class="container">
        <h3>1 Review</h3>
        <div class="property-rating">
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            <div class="accuracy">
                <span class="rating_legend">Accuracy</span>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            </div>
            end .accuracy
            <div class="communication">
                <span class="rating_legend">Communication</span>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            </div>
            end .communication
            <div class="cleanliness">
                <span class="rating_legend">Cleanliness</span>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            </div>
            end .cleanliness
            <div class="location">
                <span class="rating_legend">Location</span>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            </div>
            end .location
            <div class="check_in">
                <span class="rating_legend">Check In</span>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            </div>
            end .check_in
            <div class="value">
                <span class="rating_legend">Value</span>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            </div>
            end .value
        </div>
        <div class="listing-review">
            <div class="col-md-8 review-list-content norightpadding">
                <div class="reviewer_image">
                    <img src="assets/image/review-pic.jpg" class="img-responsive">
                </div>
                <div class="reviwer-name">Dimosthenis Antonopoulos</div>
                <div class="review-date">Posted on 3 May 2019</div>
                <div class="property_rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i> <span class="ratings-star">( 4 of 5)</span>
                </div>
                <div class="review-content">Great office space and lots of fun people.</div>
            </div>
        </div>
    </div>
</section> -->
<section class="property-location" id="google_map_on_list">
    <agm-map [latitude]="lat" [longitude]="lng" [scrollwheel]="false">
        <agm-marker [latitude]="lat" [longitude]="lng" [agmFitBounds]="true">
        </agm-marker>
    </agm-map>
</section>

<div class="modal fade bs-modal-lg log-sign" id="demotest" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="bs-example bs-example-tabs">
                <ul id="myTab" class="nav nav-tabs">
                    <li id="tab1" class="active tab-style login-shadow "><a href="#dailyModel" data-toggle="tab">Daily</a>
                    </li>
                    <li id="tab2" class="tab-style "><a href="#hourlyModel" data-toggle="tab">Hourly</a>
                    </li>
                </ul>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="dailyModel">
                        <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" id="daily-date-id" [markDisabled]="markDisabled">
                        </ngb-datepicker>
                        <ng-template #t let-date let-focused="focused">
                            <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                               {{ date.day }}
                            </span>
                        </ng-template>
                        <div class="modal-footer modal-ftr-cls">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-default btn-aply" data-dismiss="modal">Apply</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="hourlyModel">
                        <div class="row">
                            <div class="col-md-6" style="position: relative; border-right: 1px solid #c2c8cf;">
                                <ngb-datepicker class="horlyhddn" outsideDays="hidden" (select)="updateCalcs($event)" #dp [(ngModel)]="hourlyDate" (navigate)="$event.next" [markDisabled]="markDisabled1"></ngb-datepicker>
                            </div>
                            <div class="halfx col-md-3 guest_no" style="margin-top: 60px;">
                                <h5 class="text-center">From</h5>
                                <input type="hidden" name="guest_no" value="">
                                <select class="form-control" name="sellist1" [(ngModel)]="hourlyStrTime" placeholder="asd" (change)="settime($event.target.value)">
                                    <option value="" disabled selected hidden>Starts</option>
                                    <option>--</option>
                                    <option *ngFor="let frm of getdate">{{frm.time}}</option>
                                </select>
                            </div>
                            <div class="halfx col-md-3 guest_no" style="margin-top: 60px;">
                                <h5 class="text-center"> To </h5>
                                <input type="hidden" name="guest_no" id="from-time" value="">
                                <select class="form-control" id="sel1" name="sellist1" [(ngModel)]="hourlyEndTime" (change)="setTotime($event.target.value)">
                                    <option value="" disabled selected hidden>Ends</option>
                                    <option>--</option>
                                    <option *ngFor="let to of totime">{{to.time}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer modal-ftr-cls">
                            <button type="button" class="btn btn-default" data-dismiss="modal"> Close
                            </button>
                            <button type="button" class="btn btn-default btn-aply" data-dismiss="modal">Apply </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
