<section class="search-banner" [ngStyle]="{'background-image': getUrl()}">
    <div class="container">
        <div class="slidcaption">
            <h1>{{ homedata?.Header_title }}</h1>
            <p [innerHTML]="homedata?.Header_desc"></p>
            <div class="search-type-section">
                <div class="booking-form">
                    <form class="bg-effect" #filterform="ngForm" (ngSubmit)="seachproperty(filterform)" ngNativeValidate>
                        <div class="col-md-6 p0">
                            <div class="form-group"> <em class="cust-cion fa fa-search"></em>
                                <input class="form-control" required name="location" [ngModel] type="text" placeholder="Search">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group"> <em class="cust-cion fa fa-th"></em>
                                <div class="dropdown form-control custom_icon_class icon_categlist">
                                    <div data-toggle="dropdown" id="adv_categ" class="filter_menu_trigger " data-value="all" aria-expanded="false" id="cate-text">All<span class="caret caret_filter"></span>
                                    </div>
                                    <input type="hidden" name="category_id" [ngModel] ="category_id" id="category-id">
                                    <input type="hidden" name="category_name" [ngModel] ="category_name" id="category-id">
                                    <ul class="dropdown-menu filter_menu" role="menu" aria-labelledby="adv_categ">
                                        <li role="presentation" (click)="setCate('','Categories');">All</li>
                                        <li role="presentation" *ngFor="let category of categories" (click)="setCate(category.id,category.name)">{{category?.name}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 p0">
                            <div class="form-btn">
                                <button class="submit-btn">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="space-with-work">
    <div class="container">
        <div class="home-heading">
            <h2 [innerHTML]="homedata?.Category_title"></h2>
            <p [innerHTML]="homedata?.Category_desc"></p>
        </div>
        <div class="work-service">
            <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let item of homedata?.home_category" >
                <div class="service-item">
                    <img src="http://sparklinespace.tecocraft.co.in/console{{item.image}}" class="img-responsive">
                    <h2 [innerHTML] = "item.title"></h2>
                    <p [innerHTML] = "item.description"></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="per-hour" [ngStyle]="{'background-image': getCenterUrl()}">
    <div class="container">
        <div class="per-hour-content">
            <a routerLink="/find-space"><h2> {{ homedata?.Facility_title }} </h2></a>
            <span></span>
            <div class="featured_read_more"> <a routerLink="/find-space">{{ homedata?.Facility_link_title }}</a><em class="fa fa-chevron-right"></em>
            </div>
        </div>
    </div>
</section>
<section class="rental-offer equal-heights bg-change">
    <div class="container">
        <div class="home-heading">
            <h2 [innerHTML] = 'homedata?.Space_listing_title'></h2>
            <p [innerHTML] = 'homedata?.Space_listing_desc'></p>
        </div>
        <div class="details-card">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let property of propertys| slice:0:3; let i=index" routerLink="property-detail/{{property.id}}">
                    <div class="card-content">
                        <div class="card-img">
                            <div class="listing-unit-img-wrapper">
                                <div class="cross"></div>
                                <a href="javascript:void(0)">
                                    <img src="https://sparklinespace.tecocraft.co.in/console{{ property.property_images[0]?.image || '/public/images/property/space-8/1563170104.jpg' }}" class="img-responsive" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="card-desc">
                            <div class="title-container">
                                <div class="price_unit_wrapper">
                                    <div class="price_unit">$  {{property.daily_rate}}/daily</div>
                                </div>
                                <div class="category_name">
                                    <a href="javascript:void(0)" class="listing_title_unit"> <span>{{property.street}}</span>
                                    </a>
                                    <div class="category_tagline">
                                        <img src="assets/image/unit_pin.png" alt="location"> <a href="javascript:void(0)" rel="tag">{{property.city}}</a>, <a href="javascript:void(0)" rel="tag">{{property.state}}</a>
                                    </div>
                                    <div class="category_tagline">
                                        <img src="assets/image/unit_category.png" alt="location"> <a href="javascript:void(0)">{{property.maximum_total}} People</a>
                                    </div>
                                </div>
                                <!-- <div class="property_unit_action"> <span class="icon-fav icon-fav-off pink-toolti"><i class="fa fa-heart"></i></span>
                                    <div class="cus-tooltip">add to favorites</div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="read-more-btn"> <a routerLink="/find-space">See All Listings</a>
        </div>
    </div>
</section>
<section class="how-it-works">
    <div class="container">
        <h2 class="how-it-work-title">{{ homedata?.Why_ss_title }}</h2>
        <div class="works-details">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="work-left">
                        <div class="work-content" *ngFor="let item of homedata?.why_sparking_space">
                            <h3 ><em class="fa fa-square-o"></em><span [innerHTML] ="item.title"></span></h3>
                            <p [innerHTML] ="item.description"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="work-right">
                        <img src="http://sparklinespace.tecocraft.co.in/console{{homedata?.Why_ss_image}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="stay-in-touch">
    <div class="container">
        <div class="home-heading2">
            <h2 [innerHTML] ="homedata?.News_letter_title"></h2>
            <p [innerHTML] ="homedata?.Newsletter_desc"></p>
        </div>
        <div class="home-newsletter">
            <form #emailform = "ngForm" (ngSubmit)="emailform.form.valid && emailForm(emailform)">
                <div class="input-group">
                    <input type="email" name="email" required ngModel class="form-control" placeholder="Email" #subEmail ="ngModel"> 
                    <span class="input-group-btn">
                        <button class="btn btn-theme" type="submit">Subscribe</button>
                    </span>
                </div>
                <div *ngIf="emailform.submitted && subEmail.invalid" class="invalid-feedback text-danger">
                    <div *ngIf="subEmail.errors.required">Email is required</div>
                </div>
            </form>
            <br>
            <div class="alert-box-contact-page error" *ngIf="emailSucess">
                <div class="alert alert-success" id="alert-agent-contact">Email added successfully</div>
            </div>
            <div class="alert-box-contact-page error" *ngIf="emailError">
                <div class="alert alert-danger" id="alert-agent-contact">Email already added</div>
            </div>
        </div>
    </div>
</section>