/* You can add global styles to this file, and also import other style files */

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}

nav select {
    display: none !important;
}

.ngx-gallery-center {
    position: fixed !important;
}

.photos-lightbox img {
    height: unset;
}
.ngx-gallery-clickable{
    z-index: auto !important;
}

.infogradient {
    width: 100%;
    height: 0px;
    position: absolute;
    top: 109px;
    left: 0;
    /*background: -moz-linear-gradient(top,rgba(43,49,62,0) 0%,rgba(41,47,61,1) 82%,rgba(40,47,61,1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(43,49,62,0)),color-stop(82%,rgba(41,47,61,1)),color-stop(100%,rgba(40,47,61,1)));
    background: -webkit-linear-gradient(top,rgba(43,49,62,0) 0%,rgba(41,47,61,1) 82%,rgba(40,47,61,1) 100%);
    background: -o-linear-gradient(top,rgba(43,49,62,0) 0%,rgba(41,47,61,1) 82%,rgba(40,47,61,1) 100%);
    background: -ms-linear-gradient(top,rgba(43,49,62,0) 0%,rgba(41,47,61,1) 82%,rgba(40,47,61,1) 100%);
    background: linear-gradient(to bottom,rgba(43,49,62,0) 0%,rgba(41,47,61,1) 82%,rgba(40,47,61,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002b313e',endColorstr='#282f3d',GradientType=0 );*/
}

.infoimage {
    height: 175px;
    background-size: cover;
    background-position: 50% 50%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.si-content-wrapper {
    padding: unset !important;
}


.dropdown-btn {
    border: none !important;
    padding: 9px 24px !important;
    display: flex !important;
}
.dropdown-down {
    display: none !important;
}
.dropdown-up {
    display: none !important;
}
.navbar-fixed-top-master .profilemenu {
    top: 90px !important;
}
.dropdown-btn span {
    padding-right: 0px !important;
    margin-right: 2px !important;
}
.selected-item {
    height: 24px !important;
}
.gm-style-iw div {
    overflow: visible !important;
}
.dropdown-up {
    display: none !important;
}
.navbar-fixed-top-master .profilemenu {
    top: 90px !important;
}
.dropdown-btn span {
    padding-right: 0px !important;
    margin-right: 2px !important;
}
.selected-item {
    height: 24px !important;
}
.gm-style-iw div {
    overflow: visible !important;
}
.selected-item{
    overflow: hidden;
}
/*.multiselect-dropdown{
    margin-left: 15px;
}*/
.dropdown-btn span:first-child{
    /*display: none;*/
    margin-left: 20px;
    margin-top: 5px;
}

.dropdown-btn span.selected-item:first-child{
    /*display: none;*/
    margin-left: 10px;
    margin-top: 0px;
}

span.caret1:after{
    /*display: none;*/
    margin-top: 10px;
}

/* Filtering table demo */

ngbd-table-filtering span.ngb-highlight {
    background-color: yellow;
}
/* Complete table demo */

ngbd-table-complete span.ngb-highlight {
    background-color: yellow;
}
.ngb-dp-day,
.ngb-dp-week-number,
.ngb-dp-weekday {
    width: 3rem !important;
    height: 3rem !important;
}
ngb-datepicker-navigation-select>.custom-select {
    height: 2.85rem !important;
    font-size: 1.50rem !important;
    margin-bottom: 10px !important;
}
.custom-day[_ngcontent-c6] {
    height: 3rem !important;
    width: 3rem !important;
}
.ngb-dp-month-name {
    margin-bottom: 10px !important;
}
.ngb-dp-weekday {
    color: #17a2b8 !important;
}
.ngb-dp-day {
    padding: 24px !important;
}
ngb-datepicker {
    border: 0px !important;
}
.ngb-dp-weekday {
    padding: 24px !important;
}
.ngb-dp-month:first-child .ngb-dp-week {
    padding-right: 10px !important;
}
.disabled span.custom-day{
    opacity: 0.5;
}

.bg-primary{
    color: #fff;
    background-color: #007bff!important;
    text-align: center!important;
    padding: .35rem .3rem!important;
    display: inline-block!important;
    height: 30px!important;
    width: 30px!important;
    border-radius: 50%!important;
}

.activeurl{
    color: #00c1c5 !important;
}

.geodir-opt-list{}
.geodir-opt-list a {
    float: right;
    width: 36px;
    height: 36px;
    margin-left: 5px;
    background: #fae0df;
    line-height: 40px;
    position: relative;
    color: #fff;
    border-radius: 100px;
    font-size: 15px;
    text-align: center;
}
.geodir-opt-tooltip {
    position: absolute;
    opacity: 0;
    right: 40px;
    top: 4px;
    height: 30px;
    line-height: 30px;
    min-width: 100px;
    margin-left: -75px;
    color: #fff;
    font-size: 11px;
    visibility: hidden;
    z-index: 99999;
}
.geodir-opt-tooltip{background: #08c3d0;}
.geodir-opt-list a:hover{background: #e5645f;}
.geodir-opt-list a:hover .geodir-opt-tooltip {
    opacity: 1;
    visibility: visible;
}

.geodir-opt-list .l1{display: none;}
.geodir-opt-list a:hover .l1{display: block;line-height: 40px;} 
.geodir-opt-list a:hover .d1{display: none;} 

.property_unit_action .icon-fav.icon-fav-on:after{
    opacity: 1;
}

@media screen and (max-width: 750px) {
  /*body {
    background-color: olive;
  }*/
  .modal-dialog{
    width: auto !important;
  }
}

.side-menu{
    z-index: 1000 !important;
}

/*Find Space mapp popup*/
.si-float-wrapper {
  position: absolute;
  width: 100%;
  /*top: 40% !important;*/
}
[class*=si-wrapper] {
  display: flex;
  position: absolute;
  align-items: center;
  font-size: 14px;
  cursor: default;
}
.si-wrapper-top {
  flex-direction: column;
  margin-top: -40px;
  margin-left: 0;
  transform: translate(-50%, -100%);
}
.si-frame {
  position: relative;
  flex: 1 1 auto;
  border-radius: 3px;
  overflow: hidden;
  z-index: 2;
  width: 200px;
}
.si-content-wrapper {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  background-color: #fff;
}
.si-has-border .si-content-wrapper {
  border: 1px solid #bbb;
}
.si-close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  outline: 0;
  background-color: #fff !important;
  color: inherit;
  font-family: Arial, Baskerville, monospace;
  font-size: 24px;
  cursor: pointer;
  opacity: .5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px !important;
  height: 25px !important;
  line-height: 0;
}
.si-content {
  overflow: hidden !important;
  height: auto !important;
  max-height: 215px !important;
  max-width: 280px !important;
}
.infogradient {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.infoimage {
  height: 133px !important;
  background-size: cover;
  background-position: 50% 50%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 100%;
}
.si-mapp--desc {
  width: 100%;
  float: left;
  padding: 10px;
}
#infobox_title {
  float: left;
  color: #00c1c5;
  font-weight: 600;
  font-size: 16px;
  max-width: 200px;
}
.prop_pricex {
  float: right;
  color: #00c1c5;
  font-size: 16px;
  font-weight: 700;
}
.prop_detailsx {
  width: 100%;
  display: inline-block;
  color: #aba6a6;
  font-size: 14px;
}
[class*=si-pointer-bg] {
  position: relative;
  border: 15px solid transparent;
  z-index: 4;
}
.si-pointer-top {
  border-bottom: 0;
}
.si-pointer-bg-top {
  border-top-color: #bbb;
}
.si-pointer-border-top {
  bottom: 0;
  border-top-color: #bbb;
}
.si-mapp-infodetails {
  display: inline-block;
}
.si-mapp-infodetails span {
  margin-right: 15px;
  padding-top:10px;
  display: inline-block;
}
.si-mapp-infodetails span i {
  color: #00c1c5;
  margin-right: 10px;
  font-size: 16px;
}
/*Find Space mapp popup*/

#toast-container > div {
    opacity:1;
}
/* based on angular-toastr css https://github.com/Foxandxss/angular-toastr/blob/cb508fe6801d6b288d3afc525bb40fee1b101650/dist/angular-toastr.css */

/* position */
.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

/* toast styles */
.toast-title {
  font-weight: bold;
}
.toast-message {
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: #FFFFFF;
}
.toast-message a:hover {
  color: #CCCCCC;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #ffffff;
  /* opacity: 0.8; */
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}
.toast-container * {
  box-sizing: border-box;
}
.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: #FFFFFF;
}
.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */
.toast-info {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */
.toast-error {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */
.toast-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */
.toast-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='576' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'/%3E%3C/svg%3E");
}
.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.ngx-toastr {
  background-color: #030303;
  pointer-events: auto;
}
.toast-success {
  background-color: #51A351;
}
.toast-error {
  background-color: #BD362F;
}
.toast-info {
  background-color: #2F96B4;
}
.toast-warning {
  background-color: #F89406;
}
.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}
/* Responsive Design */
@media all and (max-width: 240px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .ngx-toastr.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}
.filter-textbox{
  display: none;
}
