<footer>
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <h3>Contents</h3>
                    <div class="contact_sidebar_wrap">
                        <p *ngFor="let category of categories;let i=index"><a *ngIf="i<6" href="javascript:void(0)"> {{category?.name}} </a>
                        </p>
                        <p class="active-color" routerLink="/find-space"><a href="javascript:void(0)"> See all</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <h3>CONTACT</h3>
                    <div class="contact_sidebar_wrap">
                        <p><i class="fa fa-phone"></i>{{mobile_number}}</p>
                        <p><i class="fa fa-envelope"></i><a href="javascript:void(0)"><span class="__cf_email__">{{email}}</span></a>
                        </p>
                        <p><i class="fa fa-map-marker"></i>{{address}}</p>
                        <p><i class="fa fa-desktop"></i><a>sparklinespace.com</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h3>LATEST SPACES</h3>
                    <div class="property_listing" routerLink="/property-detail/{{property1?.id}}">
                        <div class="listing-unit-img-wrapper">
                            <a href="javascript:void(0)">
                                <img itemprop="image" src="http://sparklinespace.tecocraft.co.in/console{{image1|| '/public/images/property/space-8/1563170104.jpg'}}" class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="title-container">
                            <div class="price_unit_wrapper">
                                <div class="price_unit">{{property1?.hourly_rate}}<span class="pernight">per hour</span>
                                </div>
                            </div>
                            <div class="category_name">
                                <a href="javascript:void(0)" class="listing_title_unit"> 
                                <span>
                                    {{property1?.name}}
                                </span>
                                </a>
                                <div class="category_tagline"> <a href="javascript:void(0)">{{property1?.street}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="property_listing" routerLink="/property-detail/{{property2?.id}}">
                        <div class="listing-unit-img-wrapper">
                            <a href="javascript:void(0)">
                                <img itemprop="image" src="https://sparklinespace.tecocraft.co.in/console{{image2 || '/public/images/property/space-8/1563170104.jpg' }}" class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="title-container">
                            <div class="price_unit_wrapper">
                                <div class="price_unit">{{property2?.hourly_rate}}<span class="pernight">per hour</span>
                                </div>
                            </div>
                            <div class="category_name">
                                <a href="javascript:void(0)" class="listing_title_unit"> 
                                <span>
                                    {{property2?.name}}
                                </span>
                                </a>
                                <div class="category_tagline"> <a href="javascript:void(0)">{{property2?.street}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-network">
            <ul>
                <li><a href="{{Facebook}}" target="_blank"><em class="fa fa-facebook"></em></a>
                </li>
                <li><a href="{{Twitter}}" target="_blank"><em class="fa fa-twitter"></em></a>
                </li>
                <li><a href="{{Googleplus}}" target="_blank"><em class="fa fa-google-plus"></em></a>
                </li>
                <li><a href="{{Linkedin}}" target="_blank"><em class="fa fa-linkedin"></em></a>
                </li>
                <li><a href="{{youtube}}" target="_blank"><em class="fa fa-youtube"></em></a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<div class='thetop'></div>
<div class='scrolltop'>
    <div class='scroll icon'><i class="fa fa-4x fa-angle-up"></i>
    </div>
</div>