<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<section class="admin-profile">
    <div class="container-fluid">
        <div class="row">
            <div class="profile-menu-left">
                <div class="prfile-nav-list" id="user_tab_menu_container">
                    <div class="prfile-widget">
                        <div class="prfile-widget-photo">
                            <img src="{{imgURL}}">
                        </div>
                        <h4>{{name}}</h4>
                    </div>
                    <ul class="profile-nav-option">
                        <li><a routerLink="/myprofile"><i class="fa fa-user" aria-hidden="true"></i>My Profile</a></li>
                        <li class="active"><a><i class="fa fa-heart" aria-hidden="true"></i>Favorites</a></li>
                        <li><a routerLink="/my-reservations"><i class="fa fa-book" aria-hidden="true"></i>My Reservations</a></li>
                        <li><a (click)='logout()'><i class="fa fa-power-off" aria-hidden="true"></i>Log Out</a></li>
                    </ul>
                </div>
            </div>
            <div class="profile-containe">
                <div class="dashboard-header">
                    <h1 class="entry-title-profile">Favorites Space</h1>
                </div>
                <div class="favorites_space_panel">
                    <div class="col-md-12 row">
                        <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let property of propertys"  routerLink="/property-detail/{{property.id}}">
                            <div class="card-content">
                                <div class="card-img">
                                    <div class="listing-unit-img-wrapper">
                                        <div class="cross"></div>
                                        <a href="javascript:void(0)">
                                            <img src="http://sparklinespace.tecocraft.co.in/console{{ property.property_images[0]?.image || '/public/images/property/space-8/1563170104.jpg' }}" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="card-desc">
                                    <div class="title-container">
                                        <div class="price_unit_wrapper">
                                            <div class="price_unit">{{ property?.daily_rate }}/ Day
                                            </div>
                                        </div>
                                        <div class="category_name">
                                            <a href="javascript:void(0)" class="listing_title_unit"> <span>
                                            {{ property?.name }}</span>
                                            </a>
                                            <div class="category_tagline">
                                                <img src="assets/image/unit_pin.png" alt="location"> <a href="javascript:void(0)" rel="tag">{{ property?.street }}</a>, <a href="javascript:void(0)" rel="tag">{{ property?.state }}</a>
                                            </div>
                                            <div class="category_tagline">
                                                <img src="assets/image/unit_category.png" alt="location"> <a href="javascript:void(0)">{{ property?.category }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="favorite-wrapper" (click) ="togglelike($event,property.id)"><span class="icon-fav-on-remove"> remove from favorites</span></div>
                            </div>
                        </div>
                        <div *ngIf="propertys?.length == 0">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1 noArray">
                                    <img src="assets/rentals/img/property.png" alt="" height="70px" width="70px">
                                    <h3><b>No spaces found</b></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;"  *ngIf="propertys?.length !== 0">
                    <ng-pagination [position]="'center'" [pageSize]="10" [itemsCount]="itemsCount" (getPageData)="pageChanged($event)"></ng-pagination>
                </div>
            </div>
        </div>
    </div>
</section>
