<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class="container main_wrapper  wide  ">
    <div class="dashboard-margin dashboard-margin-nolog">
        <div id="new_post" class="add-estate">
            <div class='container'>
               <div class="row">
                   <div class="col-md-6">
                       <h1 class="sumamry" style="margin-left: 15px;margin-bottom: 0px">Booking Summary</h1>
                   </div>
               </div>
               <div class='col-md-8 caminclah'>
                   <div class="row bcfrn">
                       <br>
                       <div class="col-md-3 cl4class">
                           <img src="https://sparklinespace.tecocraft.co.in/console/{{imagePath}}" class="mainpayimg" alt="">
                       </div>
                       <div class="col-md-4">
                           <h1 class="mainname">{{property_data?.name}}
                               <!-- <ngb-rating rate="{{data.avg_ratings}} " [readonly]="true" max="5"></ngb-rating> -->
                           </h1>
                           <small class="padT5 fl width100 lh1-5"><i class="fas fa-map-marker-alt mainicon"></i><span class="ico14 greyLt"> {{property_data?.street}}, 
                               <br/> {{property_data?.city}} , {{property_data?.state}} ({{property_data?.postcode}}) <br/> Total Persons:{{property_data?.maximum_total}}</span>
                           </small>
                       </div>
                       <div class="col-md-5">
                           <br>
                           <div class="listing_detail col-md-6" *ngFor="let amenitis of property_data?.amenities">
                               <img class="ameimgclass"
                               src="http://sparklinespace.tecocraft.co.in/console/{{amenitis?.image}}">
                               <span class="amename"> {{amenitis?.name}}</span>
                           </div><br>
                       </div>
                       <br>
                   </div>
                   <div class="row bcgrnf">
                       <div class="padB10">
                           <div class="col-md-3 col-sm-6 col-xs-12 pad0">
                               <div class="bkntime width100 lh1-5"><span class="greyLt">Booking Date : </span></div>
                           </div>
                           <div class="col-md-3 col-sm-6 col-xs-12 pad0">
                               <span class="lh1-5 db"><b> {{ bookingdate }}  </b></span>
                               <span class="lh1-5 db"><b> <!-- {{ fromdyn }}  {{ todyn }} --></b></span>
                           </div>
                           <div class="col-md-3 col-sm-6 col-xs-12 pad0">
                               <div class="bkntime width100 lh1-5"><span class="greyLt">Booking Duration :</span></div>
                           </div>
                           <div class="col-md-3 col-sm-6 col-xs-12 pad0">
                               <span class="lh1-5 db"><b>{{ duration }}</b></span>
                           </div>
                       </div>
                   </div>
                   <div class="row bcgrnf">
                       <div class="padB10">
                           <div class="col-md-3 col-sm-6 col-xs-12 pad0">
                               <div class="bkntime width100 lh1-5"><span class="greyLt">
                                   Booking Amount :
                               </span></div>
                           </div>
                           <div class="col-md-3 col-sm-6 col-xs-12 pad0">
                               <span class="lh1-5 db"><b>{{withVat}}</b></span>
                           </div>
                           <div class="col-md-3 col-sm-6 col-xs-12 pad0">
                               <div class="bkntime width100 lh1-5"><span class="greyLt">
                                   Vat <small>(vat {{vatPercentage}}%)</small> :
                               </span></div>
                           </div>
                           <div class="col-md-3 col-sm-6 col-xs-12 pad0">
                               <span class="lh1-5 db"><b>${{percenatgevalue}}
                               </b></span>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="col-xs-12 col-md-4 setdialog" >
                   <form name="form" (ngSubmit)="f.form.valid && payment()" #f="ngForm"  novalidate>
                       <div class="panel panel-default">
                           <div class="panel-heading">
                               <div class="row">
                                   <h4 class="text-center head-class" style="padding: 9px">Confirm Your Reservation</h4>
                               </div>
                               <div class="row">
                                 <div class="alert alert-danger" *ngIf="isError">{{Errormessage}}</div>
                                     <div class="col-xs-12 col-md-6">
                                         <label>Duration :</label>
                                         <b> {{duration}} </b>
                                     </div>
                                     <div class="col-xs-12 col-md-6">
                                         <label>Amount :</label>
                                         <b> ${{withVat}}</b>
                                 
                                     </div>
                                     <div class="col-xs-12 col-md-6">
                                         <label>Date :</label>
                                         <!-- <b> {{fromdyn}}  {{todyn}} </b> -->
                                         <b> {{ bookingdate }}   </b>
                                     </div>
                               </div>
                           </div>
                           <div class="panel-body">
                               <div class="row">
                                   <div class="col-xs-12">
                                       <div class="form-group">
                                           <label>CARD NUMBER</label>
                                           <div class="input-group">
                                               <input id="cc-number" type="tel" autocomplete="cc-number" ccNumber class="form-control" placeholder="Card Number" name="ccnumber" [(ngModel)]="model.ccnumber" #ccnumber="ngModel" required >
                                               <span class="input-group-addon"><span class="fa fa-credit-card"></span></span>
                                           </div>
                                           <div *ngIf="f.submitted && ccnumber.invalid" class="invalid-feedback">
                                               <div *ngIf="ccnumber.errors.required">Card Number is required</div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-xs-7 col-md-7">
                                       <div class="form-group">
                                           <div class="input-group">
                                               <label><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                               <input id="cc-exp-date" type="tel" autocomplete="cc-exp" ccExp class="form-control" placeholder="MM / YY" name="ccdate" [(ngModel)]="model.ccdate" #ccdate="ngModel" required>
                                           </div>
                                           <div *ngIf="f.submitted && ccnumber.invalid" class="invalid-feedback">
                                               <div *ngIf="ccnumber.errors.required">Expiration Date is required</div>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="col-xs-5 col-md-5 pull-right">
                                       <div class="form-group">
                                           <div class="input-group">
                                               <label>CVV CODE </label>
                                               <input type="tel" class="form-control" placeholder="CVC" name="cvcnumber" maxlength="4" [(ngModel)]="model.cvcnumber" #cvcnumber="ngModel" required ccCVC>
                                           </div>
                                           <div *ngIf="f.submitted && cvcnumber.invalid" class="invalid-feedback">
                                               <div *ngIf="cvcnumber.errors.required">CVV is required</div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-xs-12">
                                       <div class="form-group">
                                           <label>CARD OWNER</label>
                                           <input type="text" class="form-control" placeholder="Card Owner Name">
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div class="panel-footer">
                               <div class="row">
                                   <div class="col-xs-12">
                                       <button class="btn btn-lg btn-block clrset"  style="color: white">Pay ${{withVat}}</button>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </form>
               </div>
           </div> 
           <div class="row text-center">
            <img src="assets/image/powered_by_stripe.png" alt="" class="">
        </div>
    </div>
</div>
</div>