 .paybtn{
    border-radius: 50px
}
.paybltamn{
    color: #777;font-size: 80%;
}
.bkntime{
    color: #777;font-size: 80%;
}
.bcgrnf{
    background: #fafafa;
    padding: 10px;
}
.mainname{
    margin-top: 0px;margin-bottom: 10px
}
.padT5{
    color: #777;font-size: 80%;
}
.mainicon{
    color: #377dd8
}
.mainpayimg{
    height: 150px;width: 100%
}
.bcfrn{
    background: #fff; border: 1px solid #f4f4f5;
}
.sumamry{
    color: #26b79b;
}
.caminclah{
    padding-top:25px; padding-bottom:25px;
}
.dashboard-margin-nolog{
    min-height: unset;
}
.cl4class{
    margin-bottom: 20px
}
.ameimgclass{
    height: 20px;
}
#update_profile{
    margin-top: 10px;
}
.amename{
    font-size: 10px
}
.greyLt
{
    font-size: 14px;
}
.pad0{
    line-height: 1em !important;
    margin-top:  5px;
}
small{
    margin-left: 10px;
    font-size: 75%;
}
.dashboard-margin{
    background-color: unset !important;
    min-height: unset;
}
.form-control{
    border: 1px solid #ccc;
    background-color: white;
}
.panel-body{
    padding: 15px ;
}
.panel{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.08);
    margin-top: 40px;
    margin-bottom:  40px;
}
.panel-body{
    background-color: white;
}
.head-class{
    background-color: #00c1c5;
    background-color: #26b79b!important;
    color: white;
    /*padding: 10px;*/
    margin-top: -10px;
}

.clrset{
    font-size: 15px;
    background-color: #26b79b!important;
}

.container{
    background-image: url(https://p.w3layouts.com/demos/payment_form_widget/web/images/1.png);
}

.invalid-feedback{
    color: red;
}
small{
    margin-left: 5px;
    font-size: 75%;
}
.panel-heading{
    height: 47px;
}
.setdialog{
    margin-top: -15px;
}
#successMsg{
    border: none;
    padding: 0px;
} 
.main_wrapper{
    width: 100%;
    float: left;
}